/* Starter CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100%;
  background-color: black;
  color: white;
}

/* Header */
#header {
  /* border: 5px dashed red; */
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#title {
  font-weight: 600;
  font-size: 20px;
}

/* Container */
.outer-container {
  padding: 40px;
  /* border: 5px dashed blue; */
}

.page-title {
  font-weight: 600;
  font-size: 27px;
}

.inner-container {
  padding: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.create-game {
  text-decoration: underline;
  cursor: pointer;
  font-size: 20px;
}

.inner-container img {
  width: 40%;
}

/* Modal */
.modal {
  /* display: none; Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  color: black;
  background-color: #929292;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 25px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 50%; /* Could be more or less, depending on screen size */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.modal-content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.close {
  color: #262a56;
  float: right;
  font-size: 28px;
  font-weight: bold;
  align-self: start;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.bet-button {
  padding: 12px;
  background-color: #262a56;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.body-button {
  background-color: rgba(255, 255, 255, 0.655);
  padding: 10px 100px;
  border-radius: 15px;
  font-weight: 600;
  cursor: pointer;
}

.room-code {
  display: flex;
  justify-content: space-between;
  padding: 6px 10px;
  gap: 40px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.655);
}

.room-code input {
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-weight: 600;
}

.join {
  padding: 7px 14px;
  background-color: rgba(255, 196, 0, 0.889);
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}
