/* Starter CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100%;
  background-color: black;
}

/* Header */
#header {
  border: 5px dashed red;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#title {
  font-weight: 600;
  color: white;
}
