/* Starter CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100%;
  background-color: black;
  color: white;
}

/* Header */
#header {
  /* border: 5px dashed red; */
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#title {
  font-weight: 600;
  font-size: 20px;
}

/* Container */
.outer-container {
  padding: 40px;
}

.page-title {
  font-weight: 600;
  font-size: 27px;
}

.inner-container {
  padding: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.create-game {
  text-decoration: underline;
  cursor: pointer;
  font-size: 20px;
}

.inner-container img {
  width: 30%;
}

/* Modal */
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  color: black;
  background-color: #929292;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 25px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 50%; /* Could be more or less, depending on screen size */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.modal-content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.close {
  color: #262a56;
  float: right;
  font-size: 28px;
  font-weight: bold;
  align-self: start;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.bet-button {
  padding: 12px;
  background-color: #262a56;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.body-button {
  background-color: rgba(255, 255, 255, 0.655);
  padding: 10px 100px;
  border-radius: 15px;
  font-weight: 600;
  cursor: pointer;
}

.room-code {
  display: flex;
  justify-content: space-between;
  padding: 6px 10px;
  gap: 40px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.655);
}

.room-code input {
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-weight: 600;
  width: 200px;
}

.join {
  padding: 7px 14px;
  background-color: rgba(255, 196, 0, 0.889);
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}

/* Game Room */
.game-room-container img {
  width: 300px;
  height: 300px;
}

.game-room-core {
  display: flex;
  justify-content: center;
  align-items: end;
}

.game-room-column {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.game-room-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.action-button {
  background-color: #b8621b;
  width: 100px;
  height: 40px;
  padding: 10px;
  text-align: center;
  border-radius: 7px;
  cursor: pointer;
}

.game-room-container .emojiImage {
  width: 50px;
  height: 50px;
  border-radius: 80%;
}

@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.rotatingImage {
  animation: rotating 0.4s linear infinite;
}

/* Gamer Details */

/* Remove anchor tag default style */
a {
  color: inherit;
  text-decoration: none;
}

.a-disable {
  pointer-events: none;
}

.gamer-address {
  font-weight: 600;
  cursor: pointer;
  transition: text-shadow 0.1s ease-in-out;
  white-space: nowrap;
}

.gamer-address:hover {
  font-weight: 900;
  text-decoration: underline;
  text-shadow: 0px 0px 1.5px rgb(231, 231, 231);
}

.leave {
  width: 100px;
  height: 40px;
  padding: 10px;
  text-align: center;
  border-radius: 7px;
  background-color: #ffc700;
  cursor: pointer;
}

/* FireMan */
.fire-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

/* Emoji */

.hoverIcon {
  transition: all 0.2s ease-in-out;
  color: #ffffff; 
}

.hoverIcon:hover {
  transform: scale(1.2); 
  color: rgb(0, 115, 255); 
}

.emoji-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.emoji-grid img {
  max-width: 100%; 
  max-height: 100px; 
  object-fit: contain; 
  border-radius: 80%; 
  transition: transform 0.3s ease-in-out; 
}

.emoji-grid img:hover {
  transform: scale(1.1); 
}